body{
    background-image: url(assets/bg.jpg);
    background-size: cover;
}

#page{
    box-sizing: border-box;
    width: 800px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: auto;
    padding: 24px;
}

main{
    box-sizing: border-box;
    padding: 24px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #573A37;
}

#about p + p {
    margin-top: 12px;
}

section + section{
    margin-top: 24px;
}

h1{
    font-size: 40px;
    line-height: 140%;
    color: #291B1A;
    margin-bottom: 4px;
}


h2{
    font-size: 24px;
    color: #291B1A;
    margin-bottom: 4px;
}

ul {
    padding-left: 25px;
}

img {
    border-radius: 16px;
}